{% extends 'base.html.twig' %}

{% block title %}AdvVoyage index{% endblock %}

{% block body %}
    <div class='flex justify-between items-center'>
        <h1 class=' m-6 text-3xl font-bold'>Tous les voyages</h1>
        <a href="{{ path('app_voyage_new') }}" class='block text-white py-1.5 px-4 mr-2 h-fit rounded transition duration-200 bg-[#FF9029] hover:bg-[#FF7B00] text-lg'>Ajouter un voyage</a>
    </div>


    <label class="relative inline-flex cursor-pointer items-center">
        <input id="switch" type="checkbox" class="peer sr-only" />
        <label for="switch" class="hidden"></label>
        <div class="peer h-6 w-11 rounded-full border bg-slate-200 after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-[#082A33] peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:ring-green-300"></div>
    </label>


    {# <table class="table"> #}
        {# <thead>
            <tr>
                <th>Id</th>
                <th>Destination_voyage</th>
                <th>Duree_voyage</th>
                <th>Image_voyage</th>
                <th>Description_voyage</th>
                <th>actions</th>
            </tr>
        </thead> #}
        {# <tbody> #}

    {# {{ dump(adv_voyages) }} #}
        {# {{ dump(adv_voyages.pays) }} #}



        {# {% for adv_voyage in adv_voyages %}
            <tr>
                <td>{{ adv_voyage.id }}</td>
                <td>{{ adv_voyage.destinationVoyage }}</td>
                <td>{{ adv_voyage.dureeVoyage }}</td>
                <td>{{ adv_voyage.imageVoyage }}</td>
                <td>{{ adv_voyage.descriptionVoyage }}</td>
                <td>
                    <a href="{{ path('app_voyage_show', {'id': adv_voyage.id}) }}">show</a>
                    <a href="{{ path('app_voyage_edit', {'id': adv_voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}


    {# Ici cartes #}
<div class="relative pt-2 lg:pt-2 min-h-screen">

    <div class="bg-cover w-full flex justify-center items-center"
        style="background-image: url('/images/mybackground.jpeg');">
        <div class="w-full backdrop-filter backdrop-blur-lg">
            <div class="w-12/12 mx-auto rounded-2xl  p-5 backdrop-filter backdrop-blur-lg">

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-2 mx-auto">
                {% for adv_voyage in adv_voyages %}

                    <article
                        class="bg-white  p-6 mb-6 shadow transition duration-300 group transform hover:-translate-y-2 hover:shadow-2xl rounded-2xl cursor-pointer border">
                        <a target="_self" href="/blog/slug"
                            class="absolute opacity-0 top-0 right-0 left-0 bottom-0"></a>
                        <div class="relative mb-4 rounded-2xl">
                            <img class="max-h-80 rounded-2xl w-full object-cover transition-transform duration-300 transform group-hover:scale-105"
                                src={{ adv_voyage.imageVoyage }} alt="">
                            <div
                                class="absolute bottom-3 left-3 inline-flex items-center rounded-lg bg-white p-2 shadow-md">

                                <i class="fa-regular fa-calendar"></i>
                                <span class="ml-1 text-sm">{{ adv_voyage.dureeVoyage }} jours</span>

                            </div>

                            <a class="flex justify-center items-center bg-[#FF9029] bg-opacity-80 z-10 absolute top-0 left-0 w-full h-full text-white rounded-2xl opacity-0 transition-all duration-300 transform group-hover:scale-105 text-xl group-hover:opacity-100"
                                href="{{ path('app_voyage_edit', {'id': adv_voyage.id}) }}" target="_self" rel="noopener noreferrer">
                                Modifier le voyage
                                <svg class="ml-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="flex w-full pb-4 mb-auto">
                            <p class=" font-bold text-xl group-hover:text-[#FF9029] transition-colors duration-200 ">{{ adv_voyage.destinationVoyage }}</p>
                           
                        </div>
                        
                            <p class=' text-justify mb-4' >{{ adv_voyage.descriptionVoyage }}</p>
                        <div class=' flex justify-between items-center '>
                        <p class="rounded-lg bg-white p-2 shadow-md">Pays</p>
                        <div>
                            <p class="rounded-lg bg-white p-1 my-1 shadow-md"> <i class="fa-solid fa-car-side mr-2"></i> Road trip</p>
                            <p class="rounded-lg bg-white p-1 my-1 shadow-md"> <i class="fa-solid fa-mountain mr-2"></i> Montagne</p>

                        </div>
                        </div>
                    </article>
                    {% else %}
                        <p colspan="6">Aucun voyage n'a été trouvé</p>
                        
                    {% endfor %}
                   {# <article
                        class="bg-white  p-6 mb-6 shadow transition duration-300 group transform hover:-translate-y-2 hover:shadow-2xl rounded-2xl cursor-pointer border">
                        <a target="_self" href="/blog/slug"
                            class="absolute opacity-0 top-0 right-0 left-0 bottom-0"></a>
                        <div class="relative mb-4 rounded-2xl">
                            <img class="max-h-80 rounded-2xl w-full object-cover transition-transform duration-300 transform group-hover:scale-105"
                                src="https://images.pexels.com/photos/163097/twitter-social-media-communication-internet-network-163097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                            <div
                                class="absolute bottom-3 left-3 inline-flex items-center rounded-lg bg-white p-2 shadow-md">

                                <i class="fa-regular fa-calendar"></i>
                                <span class="ml-1 text-sm">8 jours</span>

                            </div>

                            <a class="flex justify-center items-center bg-[#FF9029] bg-opacity-80 z-10 absolute top-0 left-0 w-full h-full text-white rounded-2xl opacity-0 transition-all duration-300 transform group-hover:scale-105 text-xl group-hover:opacity-100"
                                href="/blog/slug" target="_self" rel="noopener noreferrer">
                                Read article
                                <svg class="ml-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="flex w-full pb-4 mb-auto">
                            <p class=" font-bold text-xl group-hover:text-[#FF9029] transition-colors duration-200 ">Découvrir le Japon</p>
                           
                        </div>
                        
                            <p class=' text-justify mb-4' >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum impedit quia quisquam corporis earum nobis dignissimos molestiae quos tempore culpa nesciunt ut fugiat provident eaque rem numquam, suscipit quod voluptatum.</p>
                        <div class=' flex justify-between items-center '>
                        <p class="rounded-lg bg-white p-2 shadow-md">Pays</p>
                        <div>
                            <p class="rounded-lg bg-white p-1 my-1 shadow-md"> <i class="fa-solid fa-car-side mr-2"></i> Road trip</p>
                            <p class="rounded-lg bg-white p-1 my-1 shadow-md"> <i class="fa-solid fa-mountain mr-2"></i> Montagne</p>

                        </div>
                        </div>
                    </article>
                    <article
                        class="bg-white  p-6 mb-6 shadow transition duration-300 group transform hover:-translate-y-2 hover:shadow-2xl rounded-2xl cursor-pointer border">
                        <a target="_self" href="/blog/slug"
                            class="absolute opacity-0 top-0 right-0 left-0 bottom-0"></a>
                        <div class="relative mb-4 rounded-2xl">
                            <img class="max-h-80 rounded-2xl w-full object-cover transition-transform duration-300 transform group-hover:scale-105"
                                src="https://images.pexels.com/photos/163097/twitter-social-media-communication-internet-network-163097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                            <div
                                class="absolute bottom-3 left-3 inline-flex items-center rounded-lg bg-white p-2 shadow-md">

                                <i class="fa-regular fa-calendar"></i>
                                <span class="ml-1 text-sm">8 jours</span>

                            </div>

                            <a class="flex justify-center items-center bg-[#FF9029] bg-opacity-80 z-10 absolute top-0 left-0 w-full h-full text-white rounded-2xl opacity-0 transition-all duration-300 transform group-hover:scale-105 text-xl group-hover:opacity-100"
                                href="/blog/slug" target="_self" rel="noopener noreferrer">
                                Read article
                                <svg class="ml-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="flex w-full pb-4 mb-auto">
                            <p class=" font-bold text-xl group-hover:text-[#FF9029] transition-colors duration-200 ">Découvrir le Japon</p>
                           
                        </div>
                        
                            <p class=' text-justify mb-4' >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum impedit quia quisquam corporis earum nobis dignissimos molestiae quos tempore culpa nesciunt ut fugiat provident eaque rem numquam, suscipit quod voluptatum.</p>

                        <div class=' flex justify-between items-end '>
                        <p class="rounded-lg bg-white p-2 shadow-md">Pays</p>
                        <div>
                            <p class="rounded-lg bg-white p-1 my-1 shadow-md"> <i class="fa-solid fa-car-side mr-2"></i> Road trip</p>
                            <p class="rounded-lg bg-white p-1 my-1 shadow-md"> <i class="fa-solid fa-mountain mr-2"></i> Montagne</p>

                        </div>
                        </div>
                    </article> #}
                 
                </div>
               
            </div>
        </div>
    </div>
</div>
{% endblock %}
