<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <head>
    </head>

    {% if app.request.pathinfo == path('app_register') %}

<div class="bg-[#FFFAFF] flex justify-center items-center h-screen">
    <!-- Left: Image -->
<div class="w-1/2 h-screen hidden lg:block">
  <img src="https://images.pexels.com/photos/601174/pexels-photo-601174.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Couché de soleil" class="object-cover w-full h-full">
</div>
<div class="lg:px-32 md:px-48 sm:px-20 px-8 w-full lg:w-1/2">
  
    {{ form_start(registrationForm) }}
<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px]">
        <h1 class="text-2xl font-semibold mb-5">Inscription</h1>
        <form action="https://formbold.com/s/FORM_ID" method="POST">
       
        <div class="-mx-3 flex flex-wrap">
            <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
                <label class='mb-3 block text-base font-medium text-[#07074D]"'>                
                {{form_label(registrationForm.nom) }}
                </label>
                {{ form_row(registrationForm.nom, {'label': false}) }}
            </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
                <label class='mb-3 block text-base font-medium text-[#07074D]"'>                
                {{form_label(registrationForm.prenom) }}
                </label>
                
                {{ form_row(registrationForm.prenom, {'label': false}) }}
            </div>
            </div>
        </div>
        <div class="mb-5">
            
            <label class='mb-3 block text-base font-medium text-[#07074D]"'>                
            {{form_label(registrationForm.email) }}
            </label>
                {{ form_row(registrationForm.email, {'label': false}) }}

        </div>

        <div class="mb-5">
            
            <label class='mb-3 block text-base font-medium text-[#07074D]"'>                
            {{form_label(registrationForm.telephone) }}
            </label>
                {{ form_row(registrationForm.telephone, {'label': false}) }}

        </div>
         
        <div class="mb-5">
            
            <label class='mb-3 block text-base font-medium text-[#07074D]"'>                
            {{form_label(registrationForm.plainPassword) }}
            </label>
                {{ form_row(registrationForm.plainPassword, {'label': false}) }}

        </div>

            {{ form_row(registrationForm.Enregistrer) }}

        </form>
    </div>
</div>
{{ form_end(registrationForm) }}

 
</div>
</div>

    {% else if app.request.pathinfo == path('app_login') %}


    {% else %}

<div class="flex flex-col h-screen">
{# 7AEAAD #}
{# 7AEBD3 #}
{# 7AEB86 #}
    <!-- Barre de navigation en haut -->
    <div class="bg-[#7AEB86] text-white shadow w-full p-2 flex items-center justify-between">
        <div class="flex items-center">
            <div class="flex items-center"> <!-- Mostrado en todos los dispositivos -->
                <img src={{asset('medias/logo.jpg') }} alt="Logo" class="w-28 h-18 mr-2">
                <h2 class="font-bold text-[#082A33] text-xl">In the sky</h2>
            </div>
            <div class="md:hidden flex items-center"> <!-- Se muestra solo en dispositivos pequeños -->
                <button id="menuBtn">
                    <i class="fas fa-bars text-[#082A33] text-lg"></i> <!-- Ícono de menú -->
                </button>
            </div>
        </div>

        <div class="space-x-6 mr-4 flex">
            <p class='text-[#082A33] text-xl'>Prénom Nom</p>
            <button>
                <i class="fas fa-user text-[#082A33] text-xl"></i>
            </button>
        </div>
    </div>

    <!-- Barre de navigation à gauche -->
    <div class="flex-1 flex flex-wrap">
        <div class="p-2 bg-[#082A33] w-full md:w-56 lg:w-60 flex flex-col md:flex hidden" id="sideNav">
            <nav>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r from-[#FF9029] to-[#FF7B00] hover:text-white" id='menuVoyage' href="{{ path('app_voyage_index') }}">
                    <i class="fa-solid fa-mountain-sun mr-2"></i>Voyages
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r from-[#FF9029] to-[#FF7B00] hover:text-white" href="#">
                    <i class="fas fa-file-alt mr-2"></i>Prises de contact
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r from-[#FF9029] to-[#FF7B00] hover:text-white" href="#">
                    <i class="fas fa-users mr-2"></i>Utilisateurs
                </a>
                
            </nav>

            <!-- Déconnexion -->
            <a class="block text-white py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r from-[#FF9029] to-[#FF7B00] hover:text-white mt-auto" href="#">
                <i class="fas fa-sign-out-alt mr-2"></i>Déconnexion
            </a>

            <div class="bg-gradient-to-r from-[#FF9029] to-[#FF7B00] h-px mt-2"></div>

            <p class="mb-1 px-5 py-3 text-left text-xs text-[#FF9029]">Copyright WCSLAT@2023</p>

        </div>

        <div class="flex-1 p-4 w-full md:w-1/2">
          


                   {% block body %}{% endblock %}


            
        </div>
    </div>
</div>
    {% endif %}

<script>
    let usersChart = new Chart(document.getElementById('usersChart'), {
        type: 'doughnut',
        data: {
            labels: ['Nuevos', 'Registrados'],
            datasets: [{
                data: [30, 65],
                backgroundColor: ['#00F0FF', '#8B8B8D'],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom' 
            }
        }
    });

    let commercesChart = new Chart(document.getElementById('commercesChart'), {
        type: 'doughnut',
        data: {
            labels: ['Nuevos', 'Registrados'],
            datasets: [{
                data: [60, 40],
                backgroundColor: ['#FEC500', '#8B8B8D'],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom' 
            }
        }
    });

    const menuBtn = document.getElementById('menuBtn');
    const sideNav = document.getElementById('sideNav');

    menuBtn.addEventListener('click', () => {
        sideNav.classList.toggle('hidden'); 
    });

</script>

    {% block script %}
        {% endblock %}
    </body>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/97cd5da9a0.js" crossorigin="anonymous"></script>
</html>
